<div class="row">
<label
class="col-12"
[ngClass]="formValidator.hasError('required') || formValidator.hasError('minlength')  ? 'text-danger' : 'text-success'"
>
<i class="material-icons">
  {{ formValidator.hasError('required') ||
  formValidator.hasError('minlength') ? 'cancel' :
  'check_circle' }}
</i>
Must be at least 8 characters!
</label>

<label
  class="col-12"
  [ngClass]="formValidator.hasError('required') || formValidator.hasError('hasNumber')  ? 'text-danger' : 'text-success'"
>
  <i class="material-icons">
    {{ formValidator.hasError('required') ||
    formValidator.hasError('hasNumber') ? 'cancel' :
    'check_circle' }}
  </i>
  Must contain at least 1 number!
</label>

<label
  class="col-12"
  [ngClass]="formValidator.hasError('required') || formValidator.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
>
  <i class="material-icons">
    {{ formValidator.hasError('required') ||
    formValidator.hasError('hasCapitalCase') ? 'cancel' :
    'check_circle' }}
  </i>
  Must contain at least 1 in Capital Case!
</label>

<label
  class="col-12"
  [ngClass]="formValidator.hasError('required') || formValidator.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
>
  <i class="material-icons">
    {{ formValidator.hasError('required') ||
    formValidator.hasError('hasSmallCase') ? 'cancel' :
    'check_circle' }}
  </i>
  Must contain at least 1 Letter in Small Case!
</label>

<label
  class="col-12"
  [ngClass]="formValidator.hasError('required') || formValidator.hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'"
>
  <i class="material-icons">
    {{ formValidator.hasError('required') ||
    formValidator.hasError('hasSpecialCharacters') ? 'cancel' :
    'check_circle' }}
  </i>
  Must contain at least 1 Special Character!
</label>
</div>
